<div class="flex flex-col w-4/5 mx-auto mb-10">
  <div class="divider divider-primary my-10">
    <h1>マイページ</h1>
  </div>
  <div class="bg-white p-6 rounded-lg shadow-lg text-center mb-5">
    <h3 class="text-lg md:text-base text-center font-semibold"><%= t('helpers.label.name') %></h3>
    <div class="text-base md:text-sm">
      <p class="mb-5"><%= @user.name %></p>
    </div>
    <h3 class="text-lg md:text-base text-center font-semibold"><%= t('helpers.label.email') %></h3>
    <div class="text-base md:text-sm">
      <p class="mb-5"><%= @user.email %></p>
    </div>
  </div>
  <div class="bg-white p-6 rounded-lg shadow-lg text-center mb-5">
    <h3 class="text-lg md:text-base text-center font-semibold">カレンダー</h3>
    <% @monthly_training_counts.each do |count| %>
      <div><%= count.training_part.name %>: <%= count.count %>回</div>
    <% end %>
    <div class="month-calendar">
      <%= month_calendar events: @user_video_searches do |date, user_video_searches| %>
      <% end %>
    </div>
  </div>
  <%= link_to "編集", mypage_edit_path, class: "mx-auto flex flex-col justify-center btn btn-secondary text-base-200" %>
</div>