<header class="bg-primary flex flex-row justify-between items-center h-20 relative text-block">
  <!-- ロゴ部分 -->
  <div class="menu menu-horizontal ml-4 md:mx-5 font-bold text-white hover:text-accent transition duration-100 text-lg whitespace-nowrap">
    <%= link_to "Youるトレ", "/" %>
  </div>

  <!-- リンク -->
  <div class="drawer drawer-end">
    <input id="my-drawer-3" type="checkbox" class="drawer-toggle" /> 
    <div class="drawer-content flex flex-col">
      <!-- Navbar -->
      <div class="w-full navbar text-white">
        <div class="flex lg:hidden ml-auto">
          <label for="my-drawer-3" aria-label="open sidebar" class="btn btn-square btn-ghost">
            <i class="fas fa-bars fa-lg"></i>
          </label>
        </div> 
        <div class="hidden lg:flex lg:items-center lg:space-x-3 ml-auto">
          <ul class="menu menu-horizontal">
            <li>
              <%= link_to '/' do %>
                <p class="text-sm">Home</p>
              <% end %>
              </li>
            <li>
              <%= link_to new_user_path do %>
                <p class="text-sm"><%= t('header.sign_up') %></p>
              <% end %>
            </li>
            <li>
              <%= link_to login_path, data: { remote: true } do %>
                <p class="text-sm"><%= t('header.login') %></p>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div> 
    <div class="drawer-side">
      <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label> 
      <ul id="sidebar" class="menu p-4 w-1/5 min-h-full bg-base-200">
        <!-- Sidebar content here -->
        <li>
          <%= link_to '/' do %>
            <p class="text-sm">Home</p>
          <% end %>
        </li>
        <li>
          <%= link_to new_user_path do %>
            <p class="text-sm"><%= t('header.sign_up') %></p>
          <% end %>
        </li>
        <li>
          <%= link_to login_path, data: { remote: true } do %>
            <p class="text-sm"><%= t('header.login') %></p>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</header>
