<!DOCTYPE html>
<html>
  <head>
    <title>Youるトレ | ゆるトレーニングアプリ</title>
    <meta name="description" content="Youるトレで楽しくトレーニング。ゆるトレとトレーニング動画をランダムに提供。">
    <meta name="keywords" content="Youるトレ, ゆるトレ, トレーニング, フィットネス, 運動、 ダイエット">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css", integrity: "sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==", crossorigin: "anonymous", referrerpolicy: "no-referrer", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else%>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <main class="container mx-auto flex flex-col justify-center items-center">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
